*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: rgb(77, 7, 189);
    
}

ul{
    list-style-type: none;
}

.container-menu{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-menu>li{
    position: relative;

}
.container-menu>li:hover .container-submenu{
    max-height: 100vh;
    
}
.container-menu>li ::after{
    content: '';
    position: absolute;
    top: 10%;
    height: 80%;
    width: 1px;
    background-color: #fff;
    right: -10px;

}
.container-menu>li:last-child ::after{
    display: none;

}

.container-submenu{
    position: absolute;
    font-size: 20px;
    overflow: hidden;
    max-height: 0;
    background-color: blueviolet;
    border-radius: 5px;
    transition: .5s;
    
}

.link-submenu{
    font-size: 18px;
    color: rgb(248, 248, 248);
    
    

}
.link-menu:hover{
    color: #b459df;

}

a{
    color: aliceblue;
    font-size: 20px;
}

div{
    width: 200px;
    height: 200px;
}

.container1{
    background-color: red;
}
.container2{
    background-color: blue;
}
.container3{
    background-color: yellow;
}

@media (max-width: 600px){
    .container2{
        display: none;
    }
}




